{% extends 'base.html' %}

{% block content %}


<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form method="POST" class="card card-body shadow p-3 mb-5 bg-body-tertiary rounded">
                <h1 class="text-center display-2">Create Task</h1>

                {% csrf_token %}
                
                {{form}}

                <button class="btn btn-primary mt-1">
                    Save
                </button>
            </form>
        </div>
    </div>

</main>

{% endblock %}