{% extends 'base.html' %}

{% block content %}



<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-3 mt-5">
            <form method="POST" class="card card-body">
                <h1 class="display-2 text-center">Create Note</h1>
                {% csrf_token %}
                {{form}}
                <button class="btn btn-primary mt-2">
                    Update
                </button>
            </form>
        </div>
    </div>

</main>

{% endblock %}