{% extends 'base.html' %}

{% block content %}


<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-3 mt-5">
            <div class="card card-body shadow p-3 mb-5 bg-body-tertiary rounded">

                <h1 class="display-2 text-center">Note Detail</h1>

                <h4>
                    {{ note.description }}
                </h4>

                <div class="">
                    <form method="POST">
                        {% csrf_token %}
                        {{form}}
                        <div class="d-flex justify-content-between pt-2">
                        <button class="btn btn-primary">
                            Update
                        </button>
                    </form>
                    
                    <form action="{% url 'delete_note' task.id note.id %}"  method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger">
                            Delete
                        </button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</main>

{% endblock %}