{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-3 mt-5 ">
            <div class="card card-body shadow mb-3 bg-body-tertiary rounded">
                <h1 class="display-2 text-center">Task Detail</h1>
                <h3 class="text-capitalize">
                    {{ task.title }} {% if task.datecompleted %} <i class="fa-regular fa-circle-check fa-bounce" style="color:green"></i> {% elif task.datecompleted is null %} <i class="fa-regular fa-clock fa-fade" style="color: red;"></i> {% endif %}
                </h3>
                
                <form method="POST">
                        {% csrf_token %}
                        {{form}}
                        <div class="d-flex justify-content-between pt-2">
                        <button class="btn btn-primary">
                            Update
                        </button>
                </form>

                
                    <form action="{% url 'complete_task' task.id  %}"  method="POST">
                        {% csrf_token %}
                        <button class="btn btn-success">
                            Complete
                        </button>
                    </form>
            
                    <form action="{% url 'delete_task' task.id  %}"  method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger">
                            Delete
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <!-- Notas -->
    <div class="container">
        <div class="row">
            <div class="col-md-4  offset-md-3">
                <div class="card card-body  shadow p-3 mb-3 bg-body-tertiary rounded">
                    <h3>Notas</h3>
                {% for note in notes %}
                <div>
                    <ol class="list-group list-group-numbered">
                        <a class="text-decoration-none" href="{% url 'note_detail' task.id note.id %}">
                            <div class="d-flex justify-content-between">
                                <div class="flex-fill">
                                    <li class="list-group-item">{{ note.description }}</li>
                                </div>
                                <div class="d-flex align-items-center">
                                    <i class=" fa-regular fa-pen-to-square"  style="color: green;"></i>
                                </div>   
                            </div>
                        </a>
                    </ol>
                </div>
                {% endfor %}
                <div class="pt-2">
                    <a class="text-decoration-none" href="{% url 'create_note' task.id %}">
                        <button type="button" class="btn btn-info">Add Note</button>
                    </a>
                </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}