{% extends 'base.html' %}

{% block content %}

<main class="container">
  <div class="row">
    <div class="col-md-6 offset-md-4 py-5">
      <h1 class="text-center display-2">
        Tasks Completed
      </h1>
      <ul class="list-group shadow mb-3 bg-body-tertiary rounded">
        {% for task in tasks %}
        <li class="list-group-item ">
          <div class="d-flex">
            <div class="p-2 flex-grow-1">
                <a class="text-decoration-none" href="{% url 'task_detail' task.id %}">
                {% if task.important == True %} 
                  <h3 class=" fw-bold text-danger text-capitalize">{{task.title}} {% if task.datecompleted %} <i class="fa-regular fa-circle-check " style="color:green"></i> {% endif %}</h3>
                {% else %}
                  <h3 class="text-dark text-capitalize">{{task.title}}   {% if task.datecompleted %} <i class="fa-regular fa-circle-check " style="color:green"></i> {% endif %}</h3>
                {% endif %} 
                </a>
              
              <h6>{{task.description}}</h6>
              <p>{{task.datecompleted | date:'M j Y:i'}}</p>
              <!-- <p class="text-secondary">Project: {{task.project.name}}</p> -->
            </div>
            <div class="d-flex justify-content-end align-items-center p-2">
              {% if task.datecompleted  %}
              {% else %}
              <button type="button" class="btn btn-success">Success</button>
              <button type="button" class="btn btn-danger">Delete</button>
              {% endif %} 
            </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</main>
  
{% endblock %}