{% extends 'base.html' %}

{% block content %}

<main class="container">
  <div class="row">
    <div class="col-md-6 offset-md-4 py-5">
      <h1 class="text-center display-2">
        Tasks Pending
      </h1>
      <ul class="list-group shadow mb-3 bg-body-tertiary rounded">
        {% for task in tasks %}
        <li class="list-group-item ">
          <div class="d-flex">
            <div class="p-2 flex-grow-1">
                <a class="text-decoration-none" href="{% url 'task_detail' task.id %}">
                {% if task.important == True %} 
                  <h3 class=" fw-bold text-danger text-capitalize">{{task.title}} {% if task.datecompleted %} ✅ {% endif %}</h3>
                {% else %}
                  <h3 class=" text-dark text-capitalize">{{task.title}}   {% if task.datecompleted %} ✅ {% endif %}</h3>
                {% endif %} 
                </a>
              <h7>{{task.description}}</h7>
              <h8>{{task.datecompleted | date:'M j Y:i'}}</h8>
            </div>
            <div class="d-flex justify-content-end align-items-center p-2">
              {% if task.datecompleted  %}
              {% else %}
              <a class="text-decoration-none" href="{% url 'task_detail' task.id %}">
                <button class="btn btn-primary btn-sm">
                    Edit
                </button>
              </a>
              <form  class="m-1" action="{% url 'complete_task' task.id  %}"  method="POST">
                {% csrf_token %}
                <button class="btn btn-success btn-sm">
                    Complete
                </button>
              </form>
              <form action="{% url 'delete_task' task.id  %}"  method="POST">
                  {% csrf_token %}
                  <button class="btn btn-danger btn-sm">
                      Delete
                  </button>
              </form>
              {% endif %} 
            </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</main>
  
{% endblock %}